body {
}

/* navbar */
.logo{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    float: left;
    display: inline;
    height: 2.5em;
    flex: 1;
    text-align: center;
    line-height: 2.5em;
}

.nav img {
    height: 50%;
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}

.nav {
    background-color: dimgrey;
}

.nav a{
    font-size: 16px;
    color: black;
    font-family: "inherit";
    /* fjerner underline */
    text-decoration: none;
    /* den den tjekker efter line-hight nede fra og op og sætter til samme værdi som den første, den finder = 2.5 em */
    line-height: inherit;
}
/* ændrer på placering af knapperne */
li.nav-space {
    flex-grow:3;
}

li.nav-sign-in {
    text-align: right;
}

li.nav-spacer {
    flex-grow:3;
}

/* når du holder musen over viser den */
.nav a:hover {
    background-color: grey;
    color: black;
    padding: 10px;
}
/* navbar slut */

.CategoryFAQBox{
    display: flex;
    flex-wrap: wrap;
}


.FAQBox {
    display: inline-block;
    padding: 2% 3% 3%;
    width: 29%;
    background-color: rosybrown;
    margin: 5% 2%;
    box-sizing: border-box;
}

.spørgsmål {
    margin-bottom: 50px;
    font-family: sans-serif;
    font-weight: 600;
}

.svar {
    opacity: 0;
    transition-duration: 1s;
}

.FAQBox:hover .svar {
    opacity: 1 !important;
}
