#header {
    text-align: center;
}

h1{
    text-align: ;
}

/* tilføjer baggrundsfarve og centrerer */
.topnav{
    align-content: center;
    text-align: center;
    background-color: white;
    overflow: hidden;
}

/* ændrer selve knapperne */
.topnav a{

    float: top;
    text-align: center;
    padding: 10px 10px;
    text-decoration: aqua;
    font-size: 17px;
    color: black;
    /*text-align: center;
	margin-top: 10%;
	font-size: 24px;
	color: #4967AA;
	height: 60px;
	width: 100;*/
}

/* når du holder musen over viser den */
.topnav a:hover{
    background-color: #dddddd;
    color: black;
}



#right-sidebar {
    text-align: center;
    align-content: center;
    margin-top: 300px;
    width: 40%;
    height: 400px;
    background-color: #dddddd;
    float: right;
    /* Float right, dvs andre content (bokse) vile floate ventre om
       tags med dette id */
    position: relative;
}
body {background-color: #FFFFFF;}
#text-container {
    text-align: center;
    align-content: center;
    margin-top: 300px;
    margin-left: 200px;
    width: 43%;
    height: 300px;
    background-color: #dddddd;
    float: left;
    /* Float right, dvs andre content (bokse) vile floate ventre om
       tags med dette id */
}
