

.container {
    display: block;
    float: left;
    padding: 100px 5%;
}


.product_img {
    width: 25%;
    height: 35%;
    float: left;
    display: inline-block;
}

.productName {
    width:50%;
    display: inline-block;
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 20%;
    
}

.productColor {
    width:50%;
    display: inline-block;
    margin-top: 100px;
    font-family: sans-serif;
    margin-left: 5%;
}

.productSize {
    width: 50%;
    display: inline-block;
    margin-top: 50px;
    font-family: sans-serif;
    margin-left: 5%;
}

.productPrice {
   width: 50%;
   display: inline-block;
   margin-top: 150px;
   font-family: sans-serif;
    margin-left: 5%;


  }

.productDesc {
    width: 50%;
    display: inline-block;
    border-style: solid;
    margin-top: 80px;
    font-family: sans-serif;

}

.stockStatus {
    width: 50%;
    display: inline-block;
    margin-top: 100px;
    font-family: sans-serif;
    margin-left: 5%;
}

.productSizeSelect {
    display: inline-block;
    margin-top: 100px;
    font-family: sans-serif;
    margin-left: 5%;
}

/* navbar */
.logo{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    float: left;
    display: inline;
    height: 2.5em;
    flex: 1;
    text-align: center;
    line-height: 2.5em;
}

.nav img {
    height: 50%;
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}

.nav {
    background-color: dimgrey;
}

.nav a{
    font-size: 16px;
    color: black;
    font-family: "inherit";
    /* fjerner underline */
    text-decoration: none;
    /* den den tjekker efter line-hight nede fra og op og sætter til samme værdi som den første, den finder = 2.5 em */
    line-height: inherit;
}
/* ændrer på placering af knapperne */
li.nav-space {
    flex-grow:3;
}

li.nav-sign-in {
    text-align: right;
}

li.nav-spacer {
    flex-grow:3;
}

/* når du holder musen over viser den */
.nav a:hover {
    background-color: grey;
    color: black;
    padding: 10px;
}
/* navbar slut */

