{box-sizing: border-box}

/* Add padding to containers */
.container {
    padding: 18px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: lightgray;

}
#sign-up{
    text-align: center;
}

#sign-in{
    text-align: center;
}


input[type=text]:focus, input[type=password]:focus {
    outline: none;
    background: lightgray;
}

h1{
    text-align: center;
    color: black;
}

h2{
    text-align: center;
}

h3 {
    text-align: center;
}

h4{
    text-align: center;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
}
/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

body {
    background-color: white;
    margin: auto;
    background-size: 100% ;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;

}
body {background-color: white;}

h1{
    text-align: center;
}

/* tilføjer baggrundsfarve og centrerer */
.topnav{
    align-content: center;
    text-align: center;
    background-color: white;
    overflow: hidden;
}

/* ændrer selve knapperne */
.topnav a{
    float: center;
    text-align: center;
    padding: 10px 10px;
    text-decoration: aqua;
    font-size: 17px;
    color: black;
}

/* når du holder musen over viser den */
.topnav a:hover{
    background-color: #dddddd;
    color: black;
}

/* markerer den side, man er inde på med blå - denne skal derfor ændres til den side, css'en passer til */
.topnav a.active {
    background-color: cornflowerblue;
    color: white;
}
/* ændrer størrelsen på ikonerne i navbaren */
img {
    height: 40px;
    width: 40px;
}
