body {background-color: white;}
/* headeren for alle sider */
h1{
    /* ændrer på boxen for titlen */
  text-align: center;
    display: inline;
    margin-left: 45%;
}

/* tilføjer baggrundsfarve og centrerer */
.topnav{
  align-content: center;
  text-align: center;
  background-color: lightblue;
    padding-top: 1px;
    padding-bottom: 5px;
}

/* ændrer selve knapperne */
.topnav a{
  text-align: center;
  padding: 19px 20px;
  text-decoration: aqua;
  font-size: 17px;
  color: black;
}

/* når du holder musen over viser den */
.topnav a:hover{
  background-color: lightskyblue;
  color: black;
}

/* markerer den side, man er inde på med blå - denne skal derfor ændres til den side, css'en passer til */
.topnav a.active {
  background-color: lightskyblue;
    padding: 19px
}
/* ændrer størrelsen på ikonerne i navbaren */
.ikon-1 {
  height: 20px;
  width: 20px;
}

.ikon-2 {
  height: 20px;
  width: 20px;
}

/* header slut */
