body {background-color: white;}

/* navbar */
.logo{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    float: left;
    display: inline;
    height: 2.5em;
    flex: 1;
    text-align: center;
    line-height: 2.5em;
}

.nav img {
    height: 50%;
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}

.nav {
    background-color: dimgrey;
}

.nav a{
    font-size: 16px;
    color: black;
    font-family: "inherit";
    /* fjerner underline */
    text-decoration: none;
    /* den den tjekker efter line-hight nede fra og op og sætter til samme værdi som den første, den finder = 2.5 em */
    line-height: inherit;
}
/* ændrer på placering af knapperne */
li.nav-space {
    flex-grow:3;
}

li.nav-sign-in {
    text-align: right;
}

li.nav-spacer {
    flex-grow:3;
}

/* når du holder musen over viser den */
.nav a:hover {
    background-color: grey;
    color: black;
    padding: 10px;
}
/* navbar slut */

/* ændrer på header 1 og 2 */
h1 {
    text-align: center;
    font-size: 17px;
}

h2 {
    font-size: 16px;
    text-align: center;
}

h3 {
    font-size: 16px;
    text-align: center;
}

/* deler siden op i to - det står på samme linje */
.userandorder{
    display: flex;
}

/* Input fields */
input[type=text] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* user information */
.userinformation{
    flex: 1;
    display: inline-block;
    width: 50%;
}

/*ordrerdata */
#orderHistory{
    flex: 1;
}




